host ct-auva-at-2.cust.svc
  IdentityFile ~/.ssh/id_rsa    
  IdentitiesOnly yes               
  user hdinnobl
  hostname ct-auva-at-2.cust.svc
  PasswordAuthentication yes

host * !ct-auva-at-2.cust.svc
  ProxyCommand sshpass -p 'u(}b-7Qsw#RyAS@C' ssh hdinnobl@ct-auva-at-2.cust.svc nc %h %p
